body,div,ul,li,p,img,a,span,figure{
	margin:0;
	padding:0;
	font-family: "microsoft yahei";
}
ul li{
	list-style: none;
	
}
a{
	text-decoration: none;
}

#mian{
	width:100%;
	min-height: 600px;
	height: auto!important;
	height: 600px;
}
#main:after{
	content:".";
	display: block;
	clear: both;
	height:0;
	overflow: hidden;
	visibility: hidden;
}




