body,div,ul,li,p,img,a,span,figure{
	margin:0;
	padding:0;
	font-family: "microsoft yahei";
}
ul li{
	list-style: none;
	
}
a{
	text-decoration: none;
}


.con2 .navList{
	width:198px;
	height:450px;
	position: absolute;
	left:0;	
	background:#e5004a;
	padding-left:2px;
	z-index: 1;
}

#mian{
	width:100%;
	min-height: 600px;
	height: auto!important;
	height: 600px;
}
#main:after{
	content:".";
	display: block;
	clear: both;
	height:0;
	overflow: hidden;
	visibility: hidden;
}




